.app-wrapper {
  display: grid;

  grid-template-areas: 
    "h h"
    "b t";

  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;

  height: 300px;
}

.lifeHeader {
  grid-area: h;
}

.lifeToolbar {
  grid-area: t;
}

.lifeBoard {
  grid-area: b;
}

